@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&family=Press+Start+2P&display=swap');

body {
    background: rgb(255,255,255);
    background: linear-gradient(37deg, rgba(255,255,255,1) 13%, rgba(0,0,0,1) 100%);
}; 

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;  
    color: grey;
};

#color:hover {
    text-decoration: wavy;
}